<!DOCTYPE html>
<HTML>
	<head>
		
	</head>
	<body>
		<h1> Events</h1>
		<div class="container">
			<div class="box">
				<h2>CAS Fair <br> When: October</h2>
				<form method="POST">
					<input type="submit" name="CAS_fair" value="Attend">
				</form>
			</div>
		</div>
		<div class="container">
			<div class="box">
				<h2>Culture Carnival <br> When: November</h2>
				<form method="POST">
					<input type="submit" name="culture_carnival" value="Attend">
				</form>
			</div>
		</div>
		<div class="container">
			<div class="box">
				<h2>Democracy Day<br> When: January</h2>
				<form action="/thanks<event>" method="POST">
					<input type="submit" name="democracy_day" value="Attend">
				</form>
			</div>
		</div>
	</body>
</HTML>


