<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Events - Younited</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesEvent.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='youlogo.png') }}" alt="Younited School Logo" class="logo">
        <nav>
            <ul>
                <li><button  href="/signout">Sign out</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Events</h1>
        <div class="events-container">
            <div class="event-box">
                <h2>CAS Fair <br> When: October</h2>
                <p>Creativity Activity Service mandatory courses fair</p>
                <form method="POST">
                    <button type="submit" name="CAS_fair">Attend</button>
                </form>
            </div>
            <div class="event-box">
                <h2>Culture Carnival <br> When: November</h2>
                <p>Students' favourite event where they showcase their culture and get introduced to others' (Includes food, dancing, national costumes and more)</p>
                <form method="POST">
                    <button type="submit" name="culture_carnival">Attend</button>
                </form>
            </div>
            <div class="event-box">
                <h2>Democracy Day <br> When: January</h2>
                <p>A specialized day for students to create amendments and school connected laws.</p>
                <form method="POST">
                    <button type="submit" name="democracy_day">Attend</button>
                </form>
            </div>
            <div class="event-box">
                <h2>Environmental Initiatives Day <br> When: February</h2>
                <p>Environment related initiatives by our creative students, join to support and invest in them!</p>
                <form method="POST">
                    <button type="submit" name="environment_day">Attend</button>
                </form>
            </div>
            <div class="event-box">
                <h2>DP2 Art Exhibition <br> When: March</h2>
                <p>An important event in every art student's academic life, be a part of it!</p>
                <form method="POST">
                    <button type="submit" name="dp2_exhibit">Attend</button>
                </form>
            </div>
            <div class="event-box">
                <h2>DP2 Art Auction <br> When: March</h2>
                <p>Invest in Younited arts and fund students' artistic careers!</p>
                <form method="POST">
                    <button type="submit" name="dp2_auction">Attend</button>
                </form>
            </div>
            <div class="event-box">
                <h2>DP1 Art Exhibition <br> When: April</h2>
                <p>An important event in every art student's academic life, be a part of it!</p>
                <form method="POST">
                    <button type="submit" name="dp1_exhibit">Attend</button>
                </form>
            </div>
            <div class="event-box">
                <h2>DP1 Art Auction <br> When: April</h2>
                <p>Invest in Younited arts and fund students' artistic careers!</p>
                <form method="POST">
                    <button type="submit" name="dp1_auction">Attend</button>
                </form>
            </div>
            <div class="event-box">
                <h2>DP2 Graduation <br> When: May</h2>
                <form method="POST">
                    <button type="submit" name="Graduation">Attend</button>
                </form>
            </div>
            <div class="event-box">
                <h2>IB Festival of Hope <br> When: June</h2>
                <p>A safe space for students to unite, come together, listen, and feel heard. They share stories about their families, regions, and nations.</p>
                <form method="POST">
                    <button type="submit" name="peace_fest">Attend</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 MEET D1 & Younited School. All rights reserved.</p>
    </footer>
</body>
</html>
